<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LoginCheck</display-name>
  <welcome-file-list>
    <welcome-file>loginPage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlets.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showData</display-name>
    <servlet-name>showData</servlet-name>
    <servlet-class>servlets.showData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showData</servlet-name>
    <url-pattern>/showData</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>loginFilter</display-name>
    <filter-name>loginFilter</filter-name>
    <filter-class>filters.loginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/loginFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <servlet-name>showData</servlet-name>
  </filter-mapping>
 
  <listener>
    <listener-class>listeners.connectDb</listener-class>
  </listener>
</web-app>